<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加书籍</title>
</head>
<body>
    <div class="conter">
        {# 向当前页面的路由发起post请求 #}
        <form action="#" method="post">
            书籍名字: <input type="text" name="booktitle" placeholder="输入书籍">
            <br>
            书籍价格: <input type="text" name="bookprice" placeholder="输入价格">
            <br>
           出版时间: <input type="date" name="bookpub_date" >
            <br>
            <input type="submit" value="提交书籍">

        </form>

    </div>
</body>
</html>